<!DOCTYPE html>
<html>

<body>
  <header class="site-header">

    <div class="wrapper">
      <a class="muted" href="{{ .Site.BaseURL }}">{{ .Site.Params.Name }}</a>
    </div>
  </header>
</body>

</html>
